* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
}


#title{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(250, 244, 235);
}

header p{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(250, 244, 235);
    font-style: italic;
    margin-bottom: 10px;
}

#image{
    position: relative;
    width: 490px;
    margin: 10px auto;
    display: block; 
    border-radius: 4px;
    max-width: 100%;

}

#img-caption{
  text-align: center;
  font-style: italic;
}

figure{
    background-color: white;
    border:1px solid transparent;
}

body {
    
    font-family: monospace;
}

section{
    padding-top: 60px;
}

section h1{
    padding-bottom: 10px;
}

section h3{
    padding-bottom: 25px;
    padding-top: 20px;
}

section p{
    text-align: justify;
    padding-bottom: 15px;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
    text-align: center;
  }




.heart {
  
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(26, 23, 23);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}
.heart:after {
  background-color: rgb(26, 23, 23);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: rgb(26, 23, 23);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: #ffe6f2;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

footer p{
    text-align: center;
    font-style: italic;

}



  